{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
{% load humanize %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col page-heading">
                <h1 class="heading">Shopping Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    
                    {% for item in cart_items %}
                        <div class="row">

                            <!-- Product Name -->
                            <div class="col-12">
                                <p class="cart-item-heading text-bold">{{ item.product.name }}</p>
                            </div>

                            <!-- Product image -->
                            <div class="col-6 cart-items">
                                <div class="cart-item-img">
                                    {% if item.product.image %}
                                        <img class="img-fluid cart-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid cart-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <!-- Product Quantity -->
                                <p class="p-text">Qty: {{ item.quantity }}</p>
                        
                                <!-- Quantity Adjust -->
                                <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group cart-quantity">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-secondary" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-secondary"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Update/remove links -->
                                <div class="update-remove">
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </div>
                            </div>
                        
                            <!-- Item Subtotal -->
                            <div class="col-12 text-end mt-3 mb-4">
                                <p class="p-text text-bold">Subtotal €{{ item.product.price | calc_subtotal:item.quantity|intcomma }}</p>
                            </div> 

                        </div>              
                    {% endfor %}
                    <!-- Cart Totals -->
                    <div class="row cart-total">
                        <div class="col col-sm-6 text-end">
                                <p class="p-text text-bold">Cart Total: €{{ total|floatformat:2|intcomma }}</p>
                                <p class="p-text">Delivery: €{{ delivery|floatformat:2|intcomma }}</p>
                                <p class="p-text text-bold">Grand Total: €{{ grand_total|floatformat:2|intcomma }}</p>
                                {% if free_delivery_delta > 0 %}
                                    <p class="text-info">
                                        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                        </div>
                    </div>
                    <!-- Cart buttons -->
                    <div class="row cart-buttons">
                        <div class="col-12 text-end">
                            <!-- Continue shopping button -->
                            <a href="{% url 'products' %}?category=dining_sets,bistro_set,lounge_sets,chairs,sofas,benches,new_arrivals" class="shopping-btn btn">
                                <span class="p-text">Continue Shopping</span>
                            </a>
                            <!-- Checkout button -->
                            <a href="{% url 'checkout' %}" class="button btn">
                                <span class="p-text">Checkout</span>
                            </a>
                        </div>
                    </div>
                
                {% else %}
                    <!-- If cart empty -->
                    <p class="p-text">There are no items in your shopping cart.</p>
                    <a class="btn button" href="{% url 'products' %}?category=dining_sets,bistro_set,lounge_sets,chairs,sofas,benches,new_arrivals">Continue Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}

    <script>
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).parent().prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>

{% endblock %}