{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Error 404{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container vertical-center">
        <div class="row mx-auto">
            <div class="col">
                    <!-- Error 404 -->
                    <p id="404" class="large-text">ERROR 404 - Page Not Found</p>
                    <p>We cannot find the page you were looking for</p>
                    <p>To return home please click the button below</p>
                    <a href="{% url 'home' %}" class="btn button dark-bg-btn">Return Home</a>
            </div>      
        </div>
    </div>

{% endblock %}